body {
    font-family: 'Manrope', sans-serif;
    color: #18191F;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background-color: #D5FAFC;
}

.first {
    display: inline-block;   
    width: 705px;
    margin-right: -4px;
    background-color: #2EC5CE;
}

.left {
    margin-top: 246px;
    margin-right: 95px;
    margin-bottom: 246px;
    margin-left: 165px;
    width: 445px;
}
.left h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

.left p {
    font-size: 18px;
    font-weight: 400;
}

.second {
    display: inline-block;   
    width: 570px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 165px;
    margin-left: 0;
    background-color: #FFFFFF;   
}

#Icon{
    margin-top: 40px;
    margin-left: 450px;
    margin-bottom: 26px;
    margin-right: 40px;
}
\lady {
    
    margin-right: 275px;
    margin-bottom: 26px;
}
#lady {
    display: inline-block;
    margin-top: -4px;
    margin-left: 40px;
    margin-bottom: 0;
    margin-right: 16px;  
}

.Jenny {
    width: 183px;
    display: inline-block;
    margin-top: -4px;
    margin-left: -4px;
    margin-bottom: 0;
    margin-right: 275px;
}

#name {
    font-size: 18px;
    font-weight: 700;    
}

#job {
    font-size: 14px;
    font-weight: 400;
}

#text {
    font-size: 18px;
    font-weight: 400;
    width: 490px;
    margin-top: 26px;
    margin-right: 40px;
    margin-bottom: 48px;
    margin-left: 40px;
}


#logo {
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 278px;
    display: inline-block;
}

#vec {
    margin-top: 13px;
    margin-left: -4px;
    margin-bottom: 53px;
    margin-right: -4px;
    display: inline-block;
}

#vec2 {
    display: inline-block;
    margin-top: 13px;
    margin-left: 40px;
    margin-bottom: 53px;
    margin-right: 56px;
    
}
