body
    background-color: red

#main p 
    color: #cccc
    .redbox
        color: #ffff

#main
    width: 1110px
    p, div
        font-size: 2en
        a 
            font-weight: bold


#main
    width: 1110px
    &-block
        font-size: 2en
        &__subtitle
            font-weight: bold